head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='daily_mission.sass')
  //script(src='jquery-3.6.0.min.js')
  title Spin Wheel
#jump_box
  h1#jump_box_text1 Good Luck
  h1#jump_box_text2 Tommorow
button#spin Try
span.arrow
.container
  .one
  .two
  .three
  .four
  .five
  .six
  .seven
  .eight
script(src='daily.js')
